* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL PROPERTIES */
a.btn {
  color: #6f6f6f;
  text-decoration: none;
  font-weight: 600;
  transition: color .3s ease-in-out;
}
a:hover.btn {
  color: white;
}
h2 {
  color: white;
  font-size: 26px;
  padding: 0 0 12px 0;
  font-weight: 600;
}
.display-none {
  display: none;
}
@media screen and (max-width:992px){}
@media screen and (max-width:768px){}
@media screen and (max-width:576px){}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
    min-height: 30px;
    border-radius: 16px;
    border: 4px solid #141922;
}
body {
  width: 100%;
  height: 100vh;
  color: #7d7f84;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.wrapper {
  height: calc(100% - 90px);
  display: flex;
  overflow: hidden;
}

/* ******
NAV
****** */
nav {
  background-color: #000;
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:576px){
  nav {
    width: 50px;
  }
}

/* LOGO */
.logo {
  padding: 21px;
}
.logo-big {
  width: 132px;
}
.logo-small {
  width: 28px;
}

/* MENU */
.menu {
}
.btn_menu {
  display: flex;
  align-items: center;
  padding: 5px 0;
  padding-left: 21px;
}
.btn_menu img{
  width: 24px;
  margin-right: 10px;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}
.btn_menu:hover img {
  opacity: 1;
}
.btn.btn_menu_active {
  color: white;
  border-left: 3px solid #1db954;
  padding-left: 18px;
}
.btn.btn_menu_active img {
  opacity: 1;
}

/* PLAYLIST */
.playlist {
  padding: 25px 0 0 21px;
  margin-bottom: 14px;
}
.text_playlist {
  font-weight: 600;
  font-size: 14px;
}
.btn_playlist {
  display: flex;
  align-items: center;
}
.btn_playlist:hover .plus_icon {
  background-color: white;
}
.plus_icon {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: #6f6f6f;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  margin-right: 10px;
  transition: background-color .3s ease-in-out;
}
.playlist-list {
  overflow-y: scroll;
  flex-grow: 2;
  min-height: 50px;
  padding-left: 21px;
}
.playlist-list ul {
  list-style: none;
}
.playlist-list ul li {
  margin-bottom: 14px;
}

/* USER */
.user {
}
.btn_download {
  display: block;
  padding: 10px 0;
  margin: 0 21px;
  border-bottom: 1px solid #717171;
  font-size: 13px;
}
.btn_download:hover img {
  opacity: 1;
}
.profile {
  display: block;
  margin: 0 21px;
  padding: 10px 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.btn_flex {
  display: flex;
  align-items: center;
}
.download_icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}
.user_icon {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background-color: #808080;
}

@media screen and (max-width:576px){
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  }
  .btn_menu img{
    margin-right: 0;
  }
  .btn_menu {
    padding-left: 0;
  }
  .btn.btn_menu_active {
    border: 0;
    padding-left: 0;
  }
  .playlist {
    display: none;
  }
  .playlist-list {
    display: none;
  }
  .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .btn_download {
    border-bottom: 0;
    padding: 10px 0 0 0;
  }
  .download_icon {
    margin: 0;
  }
  .user_icon {
    margin: 0;
  }
  .display-xs-none {
    display: none;
  }
  .display-xs-show {
    display: block;
  }
}



/* MAIN */
main {
  width: calc(100% - 230px);
  overflow-y: scroll;
  background-color: #141922;
  padding: 90px 5px 20px 20px;
}
@media screen and (max-width:576px){
  main {
    width: calc(100% - 50px);
  }
}

/* UPGRADE BAR */
.upgrade-bar {
  width: calc(100% - 230px);
  height: 90px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 230px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 35px 0 0;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:576px){
  .upgrade-bar {
    width: calc(100% - 50px);
    left: 50px;
  }
}
.btn-upgrade {
  border: 1px solid white;
  padding: 12px 40px;
  border-radius: 25px;
  min-width: 240px;
  text-align: center;
}
a.btn-upgrade {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .3s ease;
  font-size: 13px;
}
a:hover.btn-upgrade {
  transform: scale(1.1);
}
.categories {
  text-align: center;
  padding: 23px 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}
a.categories-items {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0 12px;
  transition: color .3s ease-in-out;
}
a:hover.categories-items {
  color: white;
}
.categories_active:after {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  display: block;
  margin: 2px auto 0;
}

/* Recently played */
.section_title {
  padding: 40px 0 30px 0;
}
.recently-played {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.overlay {
 display: none;
 font-size: 50px;
 color: white;
}
.flex_covers:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_covers {
width: calc(100% / 6);
padding: 0 15px 0 0;
text-align: center;
}
.flex_covers img,
.covers {
  width: 100%;
  position: relative;
  display: block;
}
h3.titles_main {
color: white;
margin-top: 15px;
margin-bottom: 7px;
}
h4.subtitles {
  font-weight: normal;
  font-size: 12px;
}
@media screen and (max-width:992px){
  .recently-played {
    flex-wrap: wrap;
  }
  .flex_covers {
  width: 25%;
  }
}
@media screen and (max-width:768px){
  .flex_covers {
  width: calc(100% / 3);
  }
}
@media screen and (max-width:576px){
  .flex_covers {
  width: 50%;
  }
}

  /* Created for */
  .created-for {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* Popular artists */
  .popular-artists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

/* FOOTER */
.now_playing_bar {
  height: 90px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;

}
/* LEFT */
.now_playing {
  width: 300px;
  display: flex;
  align-items: center;
}
.now_playing_img {
  max-width: 42px;
  min-width: 28px;
}
.now_playing_img img {
  width: 100%;
  display: block;
}
.now_playing_title {
  flex-grow: 2;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 120px;
}
.now_playing_title a:first-child {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 13px;
  font-weight: 600;
}
.now_playing_title a:last-child {
  text-decoration: none;
  color: #848484;
  font-size: 11px;
  font-weight: 600;
}
.now_playing_icons i {
  padding: 3px 0 3px 5px;
}

/* CENTER */
.player_control {
  width: 100%;
  flex-grow: 1.5;
  color: white;
  margin: 0 20px;
}
.player_control_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player_control_buttons i {
  padding: 0 14px 8px;
}
.player_control_buttons i:first-child {
  padding: 0 6px 8px 0;
}
.player_control_buttons i:last-child {
  padding: 0 0 8px 6px;
}
.far.fa-play-circle {
  font-size: 30px;
}
.playback_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.playback_bar_time1 {
  font-size: 9px;
  padding: 0 20px 0 0;
}
.playback_bar_time2 {
  font-size: 9px;
  padding: 0 0 0 20px;
}
.progress_bar {
  height: 4px;
  width: 80%;
  max-width: 430px;
  border-radius: 3px;
  background: #5a5a5a;

}


/* RIGHT */
.now_playing_right  {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.now_playing_right i {
  padding: 0 14px 0 0;
}
.volume {
  height: 4px;
  width: 100%;
  max-width: 120px;
  min-width: 100px;
  border-radius: 3px;
  background: #5a5a5a;
}
